* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
} 

.calc-body {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.calc {
    padding: 10px;
}

#calc__screen{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 2px solid rgb(228, 189, 116);
    border-radius: 15px;
    padding: 20px;
    display: grid;
    font-size: 25px;
}

.calc__item {
    border: 1px solid grey;
    text-align: center;
    background-color: #f1f3f4;
    border-radius: 50px;
    height: 70px;
    padding-top: 25px;
    cursor: pointer;
    user-select: none;
}

.calc__item:hover {
    background-color: #e3e5e7;
}

#calc__oper {
    background-color: #dadce0;
}
#calc__oper:hover {
    background-color: #a5a6aa;
}

#calc__equal {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #3e80e9;
    color: white;
}

#calc__equal:hover {
    background-color: #3976d6;
}

#calc__c {
    background-color: darkorange;
    color: white;
}

#calc__c:hover {
    background-color: rgb(187, 103, 1);
}